#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  #main {
    text-align: center;
    font-family: Verdana;
    background-color: #DCDCDC;
  }
  
  #title {
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0 0 0;
  }
  
  h2 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  #tribute-info {
    font-size: 18px;
    margin: 20px 0;
  }
  
  #timeline {
    font-size: 16px;
    margin: 20px auto;
    padding: 25px 5% 25px 5%;
    max-width: 600px;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  
  #timeline p {
    text-align: left;
  }
  
  .info {
    padding-bottom: 25px;
  }